<aside class="menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a>Dashboard</a></li>
        <li><a href="/product" class="{{pageIsProduct page}}">Products</a></li>
        <li><a href="/supplier" class="{{pageIsSupplier page}}">Supplier</a></li>
        <li><a>Users</a></li>
    </ul>
    <p class="menu-label">
        Purchasing
    </p>
    <ul class="menu-list">
        <li><a>Purchase request</a></li>
        <li><a>Purchase order</a></li>
    </ul>
    <p class="menu-label">
        Incoming goods
    </p>
    <ul class="menu-list">
        <li><a>Incoming from PO</a></li>
        <li><a>Direct incoming</a></li>
    </ul>
    <p class="menu-label">
        Stock management
    </p>
    <ul class="menu-list">
        <li><a>Sugestion order</a></li>
        <li><a>Purchase retur</a></li>
        <li><a>Direct retur</a></li>
        <li>
            <a>Repack</a>
            <ul>
                <li><a>Single item</a></li>
                <li><a>Multi item</a></li>
            </ul>
        </li>
    </ul>
    <p class="menu-label">
        Report
    </p>
    <ul class="menu-list">
        <li><a>Top Products</a></li>
        <li><a>PO report</a></li>
        <li><a>PO retur</a></li>
        <li><a>Stock report</a></li>
    </ul>
    <p class="menu-label">
        Master maintenance
    </p>
    <ul class="menu-list">
        <li>
            <a>Material</a>
            <ul>
                <li><a>Material category</a></li>
                <li><a>Material sub-category</a></li>
            </ul>
        </li>
        <li><a>Merk</a></li>
    </ul>
</aside>